@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 16px;
  scroll-behavior: smooth;
  --active-color: #151515;
}

:root.dark {
  --active-color: white;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

a, button {
  transition: all 0.3s ease;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100lvh;
  min-height: 100vh;
}

.icons a svg {
  fill: var(--active-color);
}
